.container {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.title {
  font-size: 3.8rem;
}

.break-session-group {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.footer-group {
  margin: 0.4rem 0;
}

.footer-1 {
  color: #6b6d76;
}

.footer-2 {
  color: #a69888;
  margin-top: -13px;
}

/* Break, Session Components */
.break-session-divs {
  font-size: 1.8rem;
  margin: 0 2.8rem;
}

.align-icons {
  vertical-align: middle;
  margin-top: 0.3rem;
}

.arrow-btn {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.length-value {
  margin: 0 0.5rem;
}

/* Display Component */
.display-div {
  border: 7px solid #fcbfb7;
  width: 270px;
  height: 160px;
  border-radius: 50px;
  margin: 0px auto 15px auto;
  text-align: center;
}

.timer-wrapper {
  margin-top: -5px;
}

#timer-label {
  font-size: 1.8rem;
}

#time-left {
  font-size: 80px;
  margin-top: -28px;
}

.display-btns {
  background: none;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 510px) {
  .break-session-divs {
    margin: 0 2rem;
  }
}

@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}
